aside {
    background-color: pink;
    display: flex;
    flex-grow: 1;
    padding: 2rem;
}

#profile-image {
    height: 7rem;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
}

.flex-row {
    display: flex;
    flex-flow: row;
}