header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: ivory;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
}