nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: ivory;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 1rem;
}

ul {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.nav-link {
    margin: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: blanchedalmond;
}

.nav-link:focus {
    border: none;
    /* border-bottom: 1px solid blanchedalmond; */
}

.nav-link:hover {
    border-bottom: 1px solid blanchedalmond;
}