nav {
    background-color: purple;
    width: 75%;
}

ul {
    background-color: red;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

.nav-link {
    margin: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: blanchedalmond;
}

nav .nav-link:focus {
    border-bottom: 1px solid blanchedalmond;
}

nav .nav-link:hover {
    border-bottom: 1px solid blanchedalmond;
}